.WeeklyExpenses {
    margin: .5rem;
    padding: 1rem 1.2rem;
    border: 1px solid #E5E5E5;
    border-radius: 0.625rem;
}
.WeeklyExpenses-title {
    font-size: 1.5rem;
    font-weight: 700;
}
.WeeklyExpenses-date {
    padding: 0.5rem 1rem;
    border: 1px solid #E5E5E5;
    border-radius: 0.25rem;
}
.WeeklyExpenses-line {
    width: 85%;
    margin: 0 auto;
}
.WeeklyExpenses-footer {
    margin-top: 3rem;
}
.WeeklyExpenses-revenue {
    font-size: 0.75rem;
    font-weight: 400;
    color: #9C9C9C
}
.WeeklyExpenses-money {
    font-size: 1.5rem;
    font-weight: 700;
}
.WeeklyExpenses-percentage {
    margin-top: 1.5rem;
    color: #4AAF05;
    font-size: 0.75rem;
}

@media (max-width: 900px) {
    .WeeklyExpenses {
        display: none;
    }
}