.Dashboard-section {
    display: flex;
}

.Dashboard-firstSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Dashboard-transactions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Dashboard-secondSection {
    width: 70%;
    overflow: hidden;
}

@media (max-width: 900px) {
    .Dashboard-section {
        flex-direction: column;
    }
    .Dashboard-firstSection,
    .Dashboard-secondSection {
        width: 100%;
    }
}